<html>
<body>
<h2>Patient Registration</h2>

<form id="form">
Name: <input name="name"><br>
Age: <input name="age"><br>
Gender:
<select name="gender">
<option>Male</option>
<option>Female</option>
</select><br>
Contact: <input name="contact"><br>
Disease: <input name="disease"><br>
Doctor: <input name="doctor"><br>
<button type="submit">Submit</button>
</form>

<script>
document.getElementById("form").onsubmit = async function(e){
 e.preventDefault();
 let data = Object.fromEntries(new FormData(this));

 await fetch("/api/patients", {
   method: "POST",
   headers: {"Content-Type":"application/json"},
   body: JSON.stringify(data)
 });

 alert("Patient Added");
}
</script>

</body>
</html>
